<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>FundersClub Assignment</title>

        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    </head>
    <body style="margin: 0; padding: 0; font-family: Lato;">

        <div style="text-align:center;">
            <div style="font-size: 24pt; padding-top: 40px;">
                FundersClub Assignment
            </div>
            <div style="font-size: 16pt; padding-top: 60px;">
                Please log in first at the <a href="/admin">admin page</a>.
                <br><br>
                Then access the API <a href="/api">here</a>.
                <br>
                The special endpoints are at /api/fundsbycompany/company_name and /api/fundsbyllc/llc_name.
            </div>
        </div>
    </body>
</html>
